main{
    margin-top: 30px;

    background-color: #eeee;
}

.text{
    position: absolute;
}
.controlsIcon{
    width: 50px;
    height: 50px;

    background-color: black;
}

//VIDEO

/* Main Container */

.videoContainer {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 1200px;
  height: 600px;
  overflow: hidden;
}

/* Video */

.video {
  width: 1100px;
  height: 500px;
  @media (max-width:768px) {
    width: 100%;
  }
  background-color: black;
  padding: 30px 0;
}

/* Controls */

.controlsContainer {
  position: absolute;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: transparent;
  z-index: 20;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  margin-top: 21%;
}

.controlsIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin-left: 10rem;
  margin-right: 10rem;
}

.controlsIcon--small {
  width: 32px;
  height: 32px;
  cursor: pointer;

  background-color: black;
}

/* The time controls section */

.timecontrols {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 13px;
  width: 100%;
}

.time_progressbarContainer {
  display: flex;

  background-color: gray;
  width: 100%;
  height: 7px;
  z-index: 30;
  position: relative;
  transition-duration: 0.2s;
  align-items: center;


}
.time_progressbarContainer:hover{
  height: 12px;
  .time_circle{
    opacity: 100%;
  }
}
.time_progressBar {
  background-color: indigo;
  height: 100%;
}
.time_circle{
  width: 15px;
  height: 15px;

  border-radius: 50%;
  background-color: #ffff;

  opacity: 0%;
}
.controlsTime {
  color: white;
}

.videoFooter{
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 0 15px;
  margin-top: -60px;

  height: 60px;
  width: 1100px;
  @media (max-width:768px) {
    width: 500px;
  }

  background-color: red;
  opacity: 0%;
  transition-duration: 0.3s;
}
.videoFooter:hover{
  transition: 0.3s;
  opacity: 100%;
}
.activeFooter{
  opacity: 60%;
}

.episodeNav{

  width: 30px;
  height: 30px;

  background-color: green;
}


.time_progressBar{
  display: flex;
}

.controlsEpisode{
  display: flex;
  justify-content: space-between;

  width: 100%;
  margin-top: 6px;
  .videoButton{
    display: flex;
    gap: 3px;
  }
  .time{
    display: flex;

    align-items: center;
    gap: 3px;
  }
  .videoContact{
    display: flex;
    gap: 8px;

  }
}